{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Mockaroo",
        "license": {"name": "MIT"}
    },
    "host": "www.mockaroo.com",
    "basePath": "/api",
    "schemes": ["http"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
        "/generate.json": {"post": {
            "summary": "Generate Data",
            "operationId": "generateData",
            "tags": ["generate"],
            "parameters": [{
                "name": "key",
                "in": "query",
                "description": "Obtain key from Mockaroo",
                "required": true,
                "type": "string"
                },
            {
                "name": "count",
                "in": "query",
                "description": "Number of records to generate",
                "required": true,
                "type": "integer",
                "format": "int32"
            },
            {
                "name": "schema",
                "in": "query",
                "description": "Select pre-defined schema",
                "required": true,
                "type": "string"
                }],
            "responses": {
                "200": {
                    "description": "Here is your dataset",
                    "headers": {"x-next": {
                        "type": "string",
                        "description": "Here is your dataset"
                    }},
                    "schema": {"$ref": "#/definitions/generateData"}
                },
                "default": {
                    "description": "unexpected error",
                    "schema": {"$ref": "#/definitions/Error"}
                }
            }
        }}
            },
    "definitions": {
        "generate": {
            "required": [
                "count",
                "key",
                "schema"
            ],
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64"
                },
                "key": {"type": "string"},
                "schema": {"type": "string"}
            }
        },
        "Error": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {"type": "string"}
            }
        }
    }
}
