{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Mockaroo",
        "license": {"name": "MIT"}
    },
    "host": "www.mockaroo.com",
    "basePath": "/api",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {"/generate.txt": {"post": {
        "summary": "Generate Data",
        "operationId": "generateData",
        "tags": ["generate"],
        "parameters": [
            {
                "name": "key",
                "in": "query",
                "description": "Obtain key from Mockaroo",
                "required": true,
                "type": "string"
            },
            {
                "name": "count",
                "in": "query",
                "description": "Number of records to generate",
                "required": true,
                "type": "integer",
                "format": "int32"
            },
            {
                "name": "schema",
                "in": "query",
                "description": "Set pre-defined schema",
                "required": true,
                "type": "string"
            }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "schema": {
              "default": "txt"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Pet": {
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      }
    },
    "Pets": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Pet"
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
